#root {
  text-align: center;
  
}

#about {
    padding: 5rem;  
    font-family: inherit;
    
    div {
      display: flex;
      flex-direction: row;
      align-content: top;
      font-size: larger;
      padding:1.5rem;
      p{
        padding-right: 2rem;
      }
      img {
        margin: 1rem;
        width: 15rem;
        height: 15rem;
        border-radius: 5rem;

      }
    }

}

#landing {
  margin:auto;
  display: flex;
  flex-direction: column;
  white-space: normal;
  h1 {
    margin-bottom: 1rem;
  }
  #snippet {
    margin: 1rem;
    padding-top: 1rem;
    line-height: auto;
    display: flex;
    flex-direction: row;
    font-size: 1.9rem;
    height: 3rem;

    p {
      padding: auto;
      margin: 0rem;

    }
  }
  
  #contact {
    
    border-radius: 2rem;
    border: 0px solid transparent;
    padding: 0.7em 2.2em;
    font-size: 1.5em;
    font-weight: 550;
    font-family: inherit;
    background-image: linear-gradient(to right, rgba(42, 42, 180, 0.747), rgba(143, 34, 143, 0.705));
  }
}

span {
  display: block;
  height: 100%;
  margin: 0rem;
  padding-left: 0.5rem;
  padding-right: 1rem;
  text-align: left;
  animation: spin-words 6s infinite;
}

canvas {
  height: 25rem;
  width: auto;
}

.words {
  overflow: hidden;
}

@keyframes spin-words {
  15%{
    transform: translateY(-112%);
  }
  30%{
    transform: translateY(-100%);
  }
  
  50%{
    transform: translateY(-212%);
  }
  65%{
    transform: translateY(-200%);
  }

  85%{
    transform: translateY(-312%);
  }
  100%{
    transform: translateY(-300%);
  }
}

/* .logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
} */



