@media  screen and (max-width: 950px) {
    #github-wrapper {
        width: 60vw;
    }
}

#github-wrapper {
    margin-top: 6rem;
    width: auto;
    width: 85vw;
    margin-bottom: auto;
    text, div {
        font-size: large;
        padding: 0rem;
    }
}
