#experience div {
    color: rgba(255, 255, 255, 0.87);
}

#experience {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#accordianheader {
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    font-size: large;
}

#accordian {
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
    background-color: var(--darkgrey);
    border-radius: 0.5rem;
    margin: 1rem;
    max-width: 60%;
}
.MuiCollapse-wrapperInner {
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    div {
        text-align: left;
        padding-left: 1rem;
        padding-right: 1rem;
    }
}

#accordianbody {
    padding-top: 0;
}

.MuiAccordionSummary-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 0.5rem;
    padding-right: 0.5rem;

}

#experience div .MuiAccordionSummary-content .date {
    font-size: medium;
    color: var(--lightgreytext);
}

.experienceimage img {
    object-fit: contain;
    max-width:100%;
    width: 100%;    
    overflow: hidden;
    border-radius: 0.2rem;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.8);
}

#accordianbody .experienceimage {
    margin: 1rem;
    padding: 0rem;
}