#root {
  text-align: center;
  --purple: rgb(123, 31, 162);
  --violet: rgb(103, 58, 183);
  --pink: rgb(244, 143, 177);
  --offwhite: #FFF7D4;
  --yellow: #FFD95A;
  --orchid: #C07F00;
  --brown: #4C3D3D;  
}

#title {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  div {
    margin-bottom: 1rem;
  }
}

#landing {
  height: fit-content;
  padding-top: 10vh;
  padding-bottom: 2vh;
  padding-left: 5vw;
  padding-right: 5vw;
  display: flex;

  flex-direction: column;
  white-space: normal;

  h1 {
    margin-bottom: 1rem;
    margin-top: 0rem;
  }

  #name {
    margin-left: 1rem;
    
    background-image: linear-gradient(to right,
        var(--orchid),    
        var(--yellow),
        var(--orchid),
        var(--orchid));
    animation: background-pan 3s linear infinite;
    background-size: 200%;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    white-space: nowrap;
    transition: all 0.2s ease-in-out;
  }

  #snippet {
    margin: 1rem;
    padding-top: 1rem;
    line-height: auto;
    display: flex;
    flex-direction: row;
    
    font-size: 1.9rem;
    height: 3rem;

    p {
      padding: auto;
      margin: 0rem;

    }
  }

  #contact {
    border-radius: 2rem;
    border: 0px solid transparent;
    padding: 0.7em 2.2em;
    font-size: 1.5em;
    font-weight: 550;
    font-family: inherit;
    display: inline-block;
    position: relative;
    border: 0.1rem solid rgba(255, 255, 255, 0.582);
  }
}

#contact:hover {

  background-image: linear-gradient(to right,
      var(--orchid),
      var(--yellow),
      var(--orchid),
      var(--orchid));
  animation: background-pan 2s infinite;
  background-size: 200%;
  transform: scale(0.95);
  box-shadow: 0 1rem 3rem var(--yellow);
  transition: all 0.2s ease-in-out;
}

.titlespan {
  display: block;
  height: 100%;
  margin: 0rem;
  padding-left: 0.5rem;
  padding-right: 1rem;
  text-align: left;
  animation: spin-words 7s infinite;
}

.words {
  overflow: hidden;
}

@keyframes background-pan {
  from {
    background-position: 0% center;
  }

  to {
    background-position: -200% center;
  }
}

@keyframes spin-words {
  10% {
    transform: translateY(-112%);
  }

  25% {
    transform: translateY(-100%);
  }

  35% {
    transform: translateY(-212%);
  }

  50% {
    transform: translateY(-200%);
  }

  60% {
    transform: translateY(-312%);
  }

  75% {
    transform: translateY(-300%);
  }

  85% {
    transform: translateY(-412%);
  }

  100% {
    transform: translateY(-400%);
  }
}


#about {
  padding: 5rem;
  height: fit-content;
  font-family: inherit;
  div {
    display: flex;
    flex-direction: column;
    align-content: top;
    font-size: larger;
    padding: 1.5rem;
    align-items: center;
    
    img {
      margin: 1rem;
      width: 15rem;
      height: 15rem;
      border-radius: 10000rem;
      border: 1px solid white;
    }
  }

  #skillcontainer {
    background-image: linear-gradient(to right,
      var(--orchid),
      var(--offwhite),
      var(--yellow),
      var(--orchid),
      var(--brown),
      var(--orchid));
    border-radius: 2rem;
    animation: background-pan 4s infinite;
    background-size: 200%;
    transition: all 0.2s ease-in-out;
    padding: 0.3rem;
    margin-top: 6rem;
    button {
      border: 1px solid rgba(255, 255, 255, 0.87);;
    }

    div {
      background-color: #181818;
      border-radius: 2rem;
      flex-direction: column;
      div{
        flex-direction: row;
      }
    }
    #skill {
      height: auto;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
  
      border-radius: 1.5rem;
  
      div {
        margin: 0.1rem;
        padding: 0.2rem;
      }
      .skillBoxes {
        width: 100%;
        justify-content: space-evenly;
        align-items: center;
        font-size: 1.3rem;
        border-radius: 0.5rem;
        background-color: rgba(255, 255, 255, 0.048);
        line-height: 0rem;
        padding: 1rem;
        margin: 0.1rem;
      }
    }
  }
 
}

#projects {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center
}

#projectwrapper {
  margin: 1rem;
  padding:0rem;
  #projecttitle {
    h2 {
      padding-bottom: 1rem;
    }
    span {
      font-size: 1.5rem;
      font-weight: 500;
    }
    padding-bottom: 3rem;

  }
}


.threecanvas {
  width: auto;
  height: 50vh;
  padding: 0rem;
  margin: 0rem;
}

.standardreact {
  height: fit-content;
  transform-origin: 50% 0; 
  -webkit-transform-origin: 50% 0;
   -ms-transform-origin: 0 0; 
   -moz-transform-origin: 0 0;
}


#footer {
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  border: 0.1rem solid rgba(255, 255, 255, 0.233);
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #c0800075;
  padding: 2rem;
  padding-top: 2rem;
  h2 {
    padding: 1rem;
  }
  a {
    margin: 1rem;
    width: fit-content;
    border-radius: 5rem;
    #contact {
      background-color: #c0800000;
      border: 1px solid rgba(255, 255, 255, 0.87);
      transform: scale(1.2);
      border-radius: 5rem;
    }
    
  }
  span {
    padding: 1rem;
  }
}