:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #181818;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

html {
  width: 100%;
}
body {
  padding: 0% 5%;
  display: flex;
  flex-direction: column;
  align-content: center;
  min-height: 100vh;
  margin-bottom: 0rem;
  padding-bottom: 0rem;
  overflow-x: hidden;
}

h1 {
  font-size: 7rem;
  line-height: 7rem;

}

h2 {
  font-size: 2.2rem;
  margin-bottom: 0rem;
}

h3 {
  font-size: 1.5rem;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  color: white;
  transition: border-color 0.25s;
}

section {
  margin-bottom: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 650px) {
  body, html{
    margin:0;
    padding:0;
    width: 100%;
    /* min-width: 350px; */
    overflow-x: hidden;
}
  #title {
    h1 {
      margin-bottom: 0rem;
      line-height: normal;
      font-size: 5rem;
      #name {
        margin-left: 0.5rem;
      }
    }
  }
  #snippet {
    p {
    font-size: 1.5rem;
    }
    .words {
      font-size: 1.5rem;
    }
  }
}

@media screen and ((max-width: 400px) or (max-height: 700px)){
  #title {
    h1 {
      padding-top: 1rem;
      font-size: 3rem;
      #name {
        margin-left: 0.5rem;
      }
    }
  }
  #snippet {
    padding-left: 2rem;
    p {
    font-size: 1.2rem;
    }
    .words {
      font-size: 1.2rem;
    }
  }
  .threecanvas {
    height: 40vh;
  }
  #landing {
    padding-top: 8vh;
    padding-bottom: 10vh;
    padding-left: 5vw;
    padding-right: 5vw;
      a {
      #contact {
        font-size: 1.1rem;
      }
    }
  }
  .sidetray {
    transform: translateX(500rem);
  }

  .horizontallink {
    width: 18rem;
  }
  
  .horizontallink .icon {
    padding: 0rem;
    height: 1.7rem;   
  }
  .standardreact {
    font-size: 0.9rem;
    h3 {
      font-size: 1.3rem;
    }
    .project {
      height: 28rem;
      width: 19rem;
    }
    .project .cardDesc {
    height: 9rem;
    }
  }
  #footer {
    padding: 0rem;
    padding-top: 1rem;
    h2 {
      padding: 0rem;
      font-size: 1.5rem;
    }
    span {
      font-size: 0.9rem;
      padding-top:0rem;
    }
  }
}