.project {

    background-color: rgba(255, 255, 255, 0.048);
    border: 1px solid rgba(255, 255, 255, 0.03);
    border-radius: 1rem;
    margin: 1rem;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(1rem);
    flex-wrap: wrap;
    justify-content: center;
    width: 20rem;
    height: 30rem;
    box-sizing: border-box;
    overflow: hidden;
    transition: 0.5s ease-in-out;
    h3 {
      margin-top: 0rem;
      margin-bottom: 0rem;
      color: white;
    }
  }
  
  .project:hover {
    transform: translateY(1rem);
  }
  
  .project:before {
    content:"";
    position:absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.137), #181818);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(1rem);
    z-index: 2;
    transition: 0.5s all;
    opacity: 0;
  }
  
  .project:hover:before {
    opacity: 1;
  }
  
  .project img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
  }
  .project video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
  }
  .project .cardInfo {
    position: relative;
    height: 100%;
    z-index: 3;
    color: #fff;
    opacity: 0;
    transform: translateY(3rem);
    transition: 0.5s all;
  }
  
  .project:hover .cardInfo {
    opacity: 1;
    transform: translateY(0rem);
  }
  
  .project .cardInfo h3 {
    padding: 1rem;
    padding-top: 2rem;
    padding-bottom: 0rem;
    line-height: 1rem;
  }
  .project .cardInfo p {
    padding: 1rem;
    padding-top: 0rem;
  }
  
  
  .project button {
    position: absolute;
    top: auto;
    bottom: 0;
    margin-bottom: 2rem;
    left: 50%;
    transform: translateX(-50%);
    text-decoration: none;
    padding: 0.5rem 1rem;
    background-color: rgba(0, 0, 0, 0.507);
    border-radius: 1rem;
  }
  
  .project button:hover {
    background-image: linear-gradient(to right,
        var(--orchid),
        var(--yellow),
        var(--orchid),
        var(--orchid));
    animation: background-pan 2s infinite;
    background-size: 200%;
    box-shadow: 0 0rem 1rem 0.1rem var(--yellow);
    transition: all 0.2s ease-in-out;
  }
  
  .project .cardDesc {
    background-color: #2d93ad;
    position: absolute;
    bottom: 0rem;
    display:flex;
    justify-content: center;
    flex-direction: column;
    min-width: 100%;
    height: 11.5rem;
    box-shadow: 0px 4px 2rem 0.1rem #000000;
    p {
      padding-left: 1rem;
      padding-right: 1rem;
      padding-bottom: 0rem;
      margin-bottom: 0rem;
      margin-top: 0.1rem;
    }
    h3 {
      padding-bottom: 0.8rem;
      line-height: 1rem;
    }
    span {
      font-weight: bold;
    }
  }